{% extends "base.html" %}

{% block content %}
{% if post %}
  <h2>Edit {{post.subject}}</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{post.subject}}">
      </label>

      <label>
        <div>content</div>
        <textarea name="content">{{post.content}}</textarea>
      </label>

      <div class="error">{{error | safe}}</div>

      <input type="submit" name="action" value="Save">
      <a href="/post/{{post.key().id()}}">Cancel</a>
    </form>

{% else %}
  <h2>{{error}}</h2>
{% endif %}
{% endblock %}
